*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor_do_body:#F9F9F9;
    --vermelho:#CB1816;
    --cores-da-compra:#069F31;
    --footer-cor:#FF9900;
}
body{
   background-color:var(--cor_do_body);
    
}
header{
    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: center;
    align-items: center;
    background-color: #CB1816;
    width: 100%;   
}
h2{
    color: #000;
    text-align: center;
    align-items: center;
    font-style: unset;
}
table{
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 0;
    color: #f4f4f4;
}
footer{
    display: block;
    background-color: var(--footer-cor);
    text-align: center;
    align-items: center;
    padding: 20px;

}
.title{
    color:black;
}
.comprar{
    background-color: var(--cores-da-compra);
     color: #f4f4f4;
     width: 100%;
     height: 35px;
     
}
#busca{
    margin-top:10px;
    width:100px;
    padding: 10px;
}
#sobre{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pesquisar{
    width:60%;
    padding:10px;
    border-style: var(--vermelho);
}

