*{
    padding: 0;
    margin: 0;
}
:root{
    --cor_do_body:#F9F9F9;
    --vermelho:#CB1816;
    --cores-da-compra:#069F31;
    --footer-cor:#FF9900;
}
body{
   background-color: var(--cor_do_body);
    
}
header{
    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: center;
    align-items: center;
    background-color: #CB1816;
    width: 100%;   
}
h2{
    color: #000;
    text-align: center;
    align-items: center;
}
table{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FF9900;
    
    
   
}
img{
  width: 100%;
    
}
div{
    padding: 20px;
    width: 100%;
    

}

